fastapi
uvicorn[standard]
sqlalchemy>=2.0
psycopg2-binary
alembic
bcrypt
python-multipart
python-jose[cryptography]
pyparsing==3.1.2
pandas
numpy
scipy
scikit-learn
matplotlib
openpyxl
adjustText
fpdf2
plotly
slowapi
pypdf
